table {
  border: 2px solid #e8e8e8;
  border-collapse: collapse;
  text-align: left;

  td,
  th {
    border: 2px solid #e8e8e8;
    padding: 0.7rem;
  }

  thead {
    th {
      color: rgb(17, 17, 17);
      font-size: 24px;
      font-weight: 700;
      text-align: left;
    }
  }

  tbody {
    tr:nth-child(odd) {
      background-color: #f2f2f2;
    }

    .td-1 {
      color: rgb(17, 17, 17);
      font-size: 24px;
      font-weight: 700;
    }

    .td-3,
    .td-4 {
      width: 200px;
      text-align: center;

      span {
        background-color: #6d757d;
        color: #fff;
        font-weight: 700;
        padding: 6px;
        border-radius: 7px;
      }

      .activeMember {
        background-color: #18A2bb;
        color: #fff;
      }

      button {
        width: 170px;
        margin: auto;
        height: 45px;
        font-size: 20px;
        border: 2px solid #1f1f1f;
        border-radius: 5px;
        color: #1f1f1f;
        background-color: transparent;
      }

      .LeaveMission {
        border: 2px solid rgb(255, 49, 49);
        color: rgb(255, 49, 49);
      }
    }
  }
}
